body {
    background-image: url("../assets/Fondo_avion.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.flight-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #ffffff;
}

.flight-card {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-family: "League Spartan", sans-serif;
    display: flex;
    flex-direction: row;
    color: #000035;
    background-color: #f2f2f2;
}

.flight-card h3,
.flight-card h4 {
    margin: 5px;
}

.flight-card h5 {
    font-style: italic;
    color: brown;
}

.flight-card .arrow {
    padding-left: 18px;
    font-size: 20px;
}

.flight-card .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.flight-card .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 10px;
}

.flight-card .section-2 img {
    width: 50px;
    height: auto;
}


.pagination {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    margin-bottom: 80px;
    overflow-x: auto;
    padding: 0 -100px;
    white-space: nowrap;
}

.pagination button {
    background-color: #2B3044;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-family: "League Spartan", sans-serif;
}

.pagination button:hover {
    background-color: white;
    color: black;
}

.pagination .active {
    background-color: #3acbf7;
    color: #2B3044;
}

.filters {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    gap: 60px;
}

.input-field {
    width: 50px;
    padding: 10px;
    margin: 10px 0;
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.date-field {
    width: 130px;
    padding: 10px;
    margin: 10px 0;
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.flight-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
}

.flight-info .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.flight-info .section-1 .flight-table {
    border-collapse: collapse;
}

.flight-info .section-1 .flight-table,
.flight-info .section-1 .flight-table th,
.flight-info .section-1 .flight-table td {
    border: none;
    text-align: left;
}

.flight-info .section-1 .flight-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.flight-info .section-1 .flight-table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.flight-info .section-2 img {
    width: 50px;
    height: auto;
}









.section-1 {
    background-color: #f2f2f2;
}

.section-2 {
    display: flex;
    align-items: center; 
  }


.button-comprar {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #040f16;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-top-right-radius: 0.45em;
    border-bottom-right-radius: 0.45em;
    font-family: "League Spartan";
    transition: background 0.3s;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 0.3333333px;
    scale: 1.01;
  }

  
  .text-comprar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text-comprar,.icon-comprar {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text-comprar {
    top: 0
  }
  
  .text-comprar,.icon-comprar {
    transition: top 0.5s;
  }
  
  .icon-comprar {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-comprar svg {
    width: 24px;
    height: 24px;
  }
  
  .button-comprar:hover {
    background: #222;
  }
  
  .button-comprar:hover .text-comprar {
    top: -100%;
  }
  
  .button-comprar:hover .icon-comprar {
    top: 0;
  }
  

  

  
  
  
  