body {
    background-color: #dcdcdc;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #f4f4f4;
}
.flight-card {
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    padding: 5px;
    margin: 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-family: "League Spartan", sans-serif;
    display: flex;
    flex-direction: row;
    color: #000035;
}
.flight-card h3, .flight-card h4 {
    margin: 5px; 
}

.flight-card h5{
    font-style: italic;
    color: brown;
}

.flight-card .arrow {
    padding-left: 18px;
    font-size: 20px;
}

.flight-card .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.flight-card .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 10px;
}

.flight-card .section-2 img {
    width: 50px; 
    height: auto;
}


.pagination {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    margin-bottom: 80px; 
    overflow-x: auto;
    padding: 0 -100px;
  }
  
  .pagination button {
    background-color: #2B3044;
    color: white; 
    border: none;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-family: "League Spartan", sans-serif;
  }
  
  .pagination button:hover {
    background-color: white; 
    color: black;
  }
  
  .pagination .active {
    background-color: #3acbf7;
    color: #2B3044;
  }

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
}

.flight-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
}

.flight-info .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.flight-info .section-1 .flight-table {
    border-collapse: collapse;
}

.flight-info .section-1 .flight-table,
.flight-info .section-1 .flight-table th,
.flight-info .section-1 .flight-table td {
    border: none;
    text-align: left;
}

.flight-info .section-1 .flight-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.flight-info .section-1 .flight-table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.flight-info .section-2 img {
    width: 50px; 
    height: auto;
}