.recomendations-container {
    display: flex;
}
  
.left-recomendation-container {
    flex: 1;
    padding: 20px;
}
  
.right-recomendation-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 60px;
}
  
.texto-titulo-recomendaciones {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 60px;
    font-family: "League Spartan", sans-serif;
    color: #000053;
    background-color: white;
    border-radius: 10px;
}
  
.recommendation-subtitle {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "League Spartan", sans-serif;
    color: #000053;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
  
.recommendation-text {
    margin: 0 10px;
    font-family: "League Spartan", sans-serif;
    color: #000053;
    font-size: 20px;
}
  
.flight-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
}
  
.recommendation-buy-button {
    margin-left: auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.recommendation-buy-button:hover {
    background-color: #0056b3;
}
  
.flight-details {
    width: 80%;
    max-width: 600px;
}
  
.flight-detail-cell {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    text-align: center;
}
  